.large_{:style => "margin-bottom:5px;"}
  %img#cropped-image{src: '<%= image.source.url %>', style: "display: none; visibility: hidden;max-height:330px;max-width:440px;"}
.actions
  = link_to raw("#{image_tag('crop.png')} Crop before saving!"), "#", :class => "btn btn-danger crop-image"
