.large_
  %img#cropped-image{src: '<%= image.source.url %>', style: "max-height: 280px;max-weight: 200px;"}
.actions
  %span.step Step 2: Crop the photos using this button:
  = link_to raw("#{image_tag('crop.png')} Crop"), "#", :class => "crop-image"
