#event_items_popup
#profile_popup

.row
  .span3.span_first_pillar.top_row
    %section#leftPillarArray
      #leftPillarContainer.standart-widget

  .span9    
    %section#rightPillarArray
      .row
        .span3
          %section#pillarAboutMe
            #pillarAboutMeContent
        .span3
          #pillarAboutMePhoto.standart-widget
        .span3
          #pillarAboutMeMeet

      %section#leftMiddleBottomContainer.row
        .span3.span_second_pillar.top_row
          %section#leftMiddlePillar.standart-widget
        .span6
          .row
            .span3
              %section#rightMiddlePillar.standart-widget
            .span3
              %section#rightPillar.standart-widget
          .row
            .span6
              %section#bottomPillar
                %h2 I would totally have also added these categories too

:javascript
  window.authenticity_token = "#{form_authenticity_token}";
  window.router = new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json}, pillarCategories: #{@pillar_categories.to_json}});
  window.userRouter = new Agreatfirstdate.Routers.UserRouter({user: #{@profile.to_json}});
  window.userRouter.show();
  Backbone.history.start();