#profile_status
.row
  - if params[:controller] == "profiles"
    .span12= link_to "Back to Browse", "", :class => :back_link

  .span3
    %section#leftPillarArray
      #leftPillarContainer.standart-widget

  .span3
    #pillarAboutMeContent.about-widget
    %section#leftMiddlePillar.standart-widget

  .span3
    #pillarAboutMePhoto.standart-widget
    %section#rightMiddlePillar.standart-widget
    
  .span3
    #pillarAboutMeMeet.about-widget
    %section#rightPillar.standart-widget

#event_items_popup.modal.hide.fade
#profile_popup.modal.hide.fade
#choose_pillars_popup.modal.hide.fade
- if @profile == current_user.profile
  - content_for :javascript do
    = render 'profiles/js'
