#profile_status
.row
  - if params[:controller] == "profiles"
    .span12= link_to "Back to Browse", "", :class => :back_link

  .span3
    %section#leftPillarArray
      #leftPillarContainer.standart-widget

  .span3
    #pillarAboutMeContent.about-widget
    %section#leftMiddlePillar.standart-widget

  .span3
    #pillarAboutMePhoto.standart-widget
    %section#rightMiddlePillar.standart-widget
    
  .span3
    #pillarAboutMeMeet.about-widget
    %section#rightPillar.standart-widget

#event_items_popup
#profile_popup
- if @profile == current_user.profile
  :javascript
    new Agreatfirstdate.Routers.UserRouter({profile: #{@profile.to_json scope: :self}});
    new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json scope: :self}, pillarCategories: #{@pillar_categories.to_json(scope: :self)}});
