.modal-header
  %h3 <%= header %>
.modal-body
  <%= body %>
.modal-footer
  <% if (allowSave) { %>
  = link_to 'Save', '#', class: 'btn save'
  <% }; %>
  <% if (allowClose) { %>
  = link_to 'Close', '#', data: {dismiss: "modal"}, class: "close-btn"
  <% }; %>
