.modal-header
  %h3 <%= header %>
.modal-body
  <%= body %>
.modal-footer
  <% if (allowSave) { %>
  %a{:href => '#', :class => "btn save"}
    <%= saveText %>
  <% }; %>
  <% if (allowClose) { %>
  = link_to 'Close', '#', data: {dismiss: "modal"}, class: "close-btn"
  <% }; %>
