.modal-header
  %h3 <%= header %>
.modal-body
  <%= body %>
.modal-footer
  <% if (allowSave) { %>
  %a{:href => '#', :class => "btn save"}
    <%= saveText %>
  <% }; %>
  <% if (allowClose) { %>
  %a{:href => '#',  data: { dismiss: "modal" }, class: "close-btn"}
    <%= closeText %>
  <% }; %>
