.modal-header
  %h3 <%= header %>
.modal-body
  <% if (!spinner) { %>
  <%= body %>
  <% } else { %>
  .center= image_tag 'ajax-loader.gif'
  <% }; %>
.modal-footer
  <% if (allowSave) { %>
  %a{:href => '<%= saveHref %>', :class => "btn save"}
    <%= saveText %>
  <% }; %>
  <% if (allowClose) { %>
  <% if (typeClose == 'link') { %>
  %a{:href => '#',  data: { dismiss: "modal" }, class: "close-btn"}
    <%= closeText %>
  <% } else { %>
  %button{ data: { dismiss: "modal" }, class: "close-btn btn"}
    <%= closeText %>

  <% }; %>
  <% }; %>