.modal-body
  .video-js-box
    %video{ class: "video-js vjs-default-skin", controls: "", preload: "auto",  width: "512", height: "512", autoplay: true }
      <% _.each(sources, function(source){ %>
      %source{ src: "<%= source.url %>", type: 'video/<%= source.type %>' }
      <% }); %>
