.modal-header
  %h3 <%= header %>
.modal-body
  .video-js-box
    %video{ class: "video-js vjs-default-skin", controls: "", preload: "auto",  width: "480", height: "480", autoplay: true }
      <% _.each(sources, function(source){ %>
      %source{ src: "<%= source.url %>", type: 'video/<%= source.type %>' }
      <% }); %>


.modal-footer
  %button{ data: { dismiss: "modal" }, class: "close-btn btn"}
    Close
