%h2 Upload Some Pics
= form_for :profile, url: update_profile_path, method: :put, remote: true, html: {id: 'edit_photo'} do |f|
  = hidden_field_tag :authenticity_token
  = file_field_tag 'profile[avatars_attributes][][image]'
  %span.errors_
.avatars
.large_