Hello, #{@profile.short_name}
%br
Uh oh.
Something happened and we couldn't process your transaction.
Please click here to update your payment information. We'll try your card again in three days, and then in seven days.
If it's declined we'll deactivate your account.
