<% if (!avatar) { %>
= link_to (image_tag "profile_add_photo.png"), "#profile/photo/edit"
<% } else { %>
= link_to "#/profile/photo/edit" do
  <% if(avatars.length > 0){ %>
  .carousel#avatar_carousel
    .carousel-inner
      <% _.each(avatars, function(avatar){ %>
      .item
        %img{src: '<%= avatar.image.thumb.url %>?<%= (new Date()).getTime() %>'}
      <% }); %>
  <% }else{ %>
  %img{src: '<%= avatar.image.thumb.url %>?<%= (new Date()).getTime() %>'}
  <% } %>

  %span Сhange your profile picture
<% } %>