<div class="event_photo_form_wrapper_">
  <form id="new_event_photo" enctype="multipart/form-data" data-remote="true" class="new_event_photo" action="/event_photos">
    <label for="event_photo_image">Any Pics?</label>
    <input type="file" name="image" id="event_photo_image" class="event_photo_image_">

    <span class="upload-status_">Select file</span>
  </form>
  <div class="event_photos_previews_"></div>
</div>