.modal-header
	%button{ data: { dismiss: "modal" }, class: "close-", type: "button", aria-hidden: "true"}
    ×
  %h3 Cancel Account
.modal-body
  %strong
    We're sorry to see you go!  Your membership will be cancelled immediately, are you sure?

.modal-footer{:style => "text-align:center;"}
  = form_tag '/me/cancel', :method => :put do |f|
    <input  name="<%= paramName %>" type="hidden" value="<%= paramValue %>">
    %button{ :class => "btn bnt-cancel-account btn-danger", :name => "profile[canceled]"}
      Yes, Cancel My Membership.
    %a{:href => '#',  data: { dismiss: "modal" }, class: "close-btn btn btn-success"}
      Not Right Now.
