%p Please, add some text about you
%br
%form.form-horizontal#edit-about-me
  .control-group
    = label_tag :who_am_i, 'Who Am I', class: 'control-label'
    .controls
      = text_area_tag :who_am_i, '<%= who_am_i %>'.html_safe, class: "<%= className %> input-xlarge span6".html_safe, rows: 4
      %p
        You have
        %span#charsLeft
        chars left
