%p Please, add some text about you
%form.form-horizontal
  .control-group
    = label_tag :who_am_i, 'Who Am I', class: 'control-label'
    .controls
      = text_area_tag :who_am_i, '<%= who_am_i %>'.html_safe, class: "<%= className %>".html_safe
      %p
        You have
        %span#charsLeft
        chars left