%p Tell potential great dates a little bit more about what you're looking for.
%br
%form.form-horizontal#edit-meet-me
  .control-group
    = label_tag :who_meet, "Who I'd like to meet", class: 'control-label'
    .controls
      = text_area_tag :who_meet, '<%= who_meet %>'.html_safe, class: "<%= className %> input-xlarge span6".html_safe, rows: 4
      %p
        You have
        %span#charsLeft
        chars left
