.pillar-image
  .category-image
    <% if(pillar.photos.length > 0){%>
    .carousel{id: "pillar_carousel_<%= pillar.id %>"}
      .carousel-inner
        <% pillar.photos.each(function(photo) { %>
        .item
          %img{src: "<%= photo.get('image').pillar.url %>"}
        <% }); %>
    <% } %>
    .categoryDesc
      %h3 <%= pillar.get('name') %>

  .pillar-content