.pillar-image
  .category-image
    <% if(pillar.photos.length > 0) { %>
    .carousel-pillar_photos
      .carousel{id: "pillar_carousel_<%= pillar.id %>"}
        %ul{data_item: '<%= item %>'}
          <% pillar.photos.each(function(photo) { %>
          %li
            %img{src: "<%= photo.get('image').pillar.url %>"}
          <% }); %>
    <% } else { %>
    %img{src: "<%= pillar.get('image_url') %>"}
    <% } %>
    .categoryDesc
      %h3 <%= pillar.get('name') %>

.pillar-content{id: "pillar-content_<%= pillar.id %>"}
