<h1>Edit event_item</h1>

<form id="edit-event_item" name="event_item">
  <div id="event_type_fields"></div>

  <div class="actions">
    <input type="submit" value="Update Event item" />
  </div>

</form>

<a href="#">Back</a>