%h3.popup-name <%= pillar.name %>
%h4.popup-name-title <%= event_type_title %>
<% if (allowEdit) { %>
= link_to 'Edit', '', class: "edit-popup-link", href: "#/pillars/<%= pillar_id %>/event_items/<%= id %>/edit".html_safe
<% } %>
.item-event-info-wrapper.gray-box.clear
	.images
	%div.item-event-info
	.fields

<% if (previous != current) { %>
%h3.popup-name.popup-name-additional Timeline Event
= link_to 'Previous', '', class: "edit-popup-link", href: "#/pillars/<%= pillar_id %>/event_items/<%= previous %>".html_safe
= link_to 'Next', '', class: "edit-popup-link", href: "#/pillars/<%= pillar_id %>/event_items/<%= next %>".html_safe
.events
<% } %>


