%h3.popup-name <%= pillar.name %>
%h4.popup-name-title <%= event_type_title %>
<% if (allowEdit) { %>
= link_to 'Edit', '', class: "edit-popup-link", href: "#/pillars/<%= pillar_id %>/event_items/<%= id %>/edit".html_safe
<% } %>
.item-event-info-wrapper.gray-box.clear
  .images
  %div.item-event-info
<% if(previous||next){ %>
%h3.popup-name.popup-name-additional.popup-name-timeline Timeline Event
.events
  <% if(previous) { %>
  = link_to 'Previous', "#/pillars/<%= pillar_id %>/event_items/<%= previous.id %>".html_safe, class: "edit-popup-link previous-link"

  <% }if(next){ %>

  = link_to 'Next', "#/pillars/<%= pillar_id %>/event_items/<%= next.id %>".html_safe, class: "edit-popup-link next-link"
  <% } %>

<% } %>
