%h3.popup-name <%= pillar.name %>
%h4.popup-name-title <%= event_type_title %>
.item-event-info-wrapper.clear
	%div.item-event-info
	.fields

<% if (allowEdit) { %>
= link_to 'Edit', '', href: "#/pillars/<%= pillar_id %>/event_items/<%= id %>/edit".html_safe
<% } %>
<% if (previous != current) { %>
%h4 Events:
= link_to 'Previous', '', href: "#/pillars/<%= pillar_id %>/event_items/<%= previous %>".html_safe
= link_to 'Next', '', href: "#/pillars/<%= pillar_id %>/event_items/<%= next %>".html_safe
.events
<% } %>

.images
