%h1 About Us

%p aGreatFirstDate.com, Ltd. was founded in Denver, Colorado in late 2011.  We have a simple mission: get people on better dates.  What does that mean exactly?  Great dates happen when you are out with someone who is attractive, and with whom you have something to talk about.  The site was designed to bring out those two qualities in each and every member.

%h1 Our Story

%p We thought online dating should be easier. We thought it should be more natural. We wanted it to work for the people around us.  Rory tried it a couple of times with no success. His friends have tried it.  His sister has tried it.  Tim's Mom tried it. The whole thing was just so... unnatural.  So we returned to first principles. We asked ourselves, how do we connect with people that we don't know? The answer is surprisingly simple: common interests and shared experiences. This is how Rory met his wife. This is how it works. This is what A Great! First Date is meant to be.

%p
We're a small startup, intent on focusing entirely on great user experiences and putting the customer first.  We accomplish those goals by using the latest technology and talking to our customers every chance we get.  If you are interested in joining our team and helping us build great dates, send us an e-mail:
= link_to "careers@agreatfirstdate.com", "mailto:careers@agreatfirstdate.com"

%p We are currently in a public beta program restricted to the Denver/Boulder area.