.pages
  %h1 Frequently Asked Questions

  %dl
    %dt Q.  I want to sign up.  How come my city isn’t on the list!
    %dd A.  We are working our way through the major cities across the US.  This site is about great dates, and dating long distance is a hard thing to do.  Please leave your name and city on the form and will do our best to come to your city as soon as we can.

    %dt Q. What’s with the point system?
    %dd A. The point system helps us keep the whole process moving along.  You get points for keeping your profile updated, and you can use those points to contact more interesting first dates.  We want people on this site to feel safe and comfortable, so we have no intention of letting anyone spam anyone else.  Points help us do that.

    %dt Q.  How do I get points?
    %dd
      A.  We reserve the right to tweak the point system as necessary, but currently it works like this:

      %ul
        %li 100 points for signing in
        %li 100 points for adding your 4 pillars
        %li 100 points every week?
        %li 500 points for referring a friend (v2?)
        %li 50 points for being contacted
        %li 25 points for adding an timeline event up to 4 per day
        %li 10 points for each day you login up to 3 per day
        %li 3 points every time you get favorited
        %li 1 point every time someone views your page

      Contacting someone costs you 100 points.

    %dt Q. How do the strikes work?  Sometimes the profiles come back quickly, sometimes they don’t.
    %dd A.  Once you give someone a strike, they won’t return in your searches until two things happen.  First, they have to make a change to their profile.  Second, you have to do another search at least a day later.

    %dt Q.  Ok, so why do you do that?
    %dd A.  We believe that dating is process.  The whole site is built around that idea.  People sometimes upload pictures that aren’t very flattering.  Sometimes people take up new or interesting hobbies, or decide to share their hidden passion for pottery.  We want to encourage you to be patient and to get to know people as much as possible.

    %dt Q.  How come I can only search within my pillars?
    %dd A.  Our objective is to get you out into the real world on dates that will be great.  While it is possible to fall for someone that you have nothing in common with, we think those relationships are unlikely to be successful, or at least the first date stands a good chance of being boring.

    %dt Q.  If I find myself in a candle emergency, what do I do?
    %dd A.  Place a piece of string in a can of Crisco, it will burn for 45 days. For lesser needs, place a crayon upright and it will burn for 30 minutes.

    %dt Q.  What’s with the direct e-mails?
    %dd A.  We believe the Internet is a fairly public place these days.  We give you one layer of anonymity and then trust you to make the right decision for you after that.  There are also plenty of great e-mail management tools out there.  Using Gmail you can filter and report inappropriate e-mails.  If you still aren’t comfortable, we suggest creating an new e-mail account just for use on this site.

    %dt Q.  And the same is true of the first name and last initial on the profile?
    %dd A.  Yes, we expect our members to be high caliber singles looking to find the same.  When we meet someone in real life we don’t give a silly name like “supercook39.”  We introduce ourselves with our real names and hope that something great happens.  This isn’t 1995.  We expect people to use the Internet, and our site, responsibly.  Plus if you don’t, remember we’ve got your real name. (kidding)

    %dt Q.  I’m both very picky and verbose, how come I can’t add more text in the About Me and Who I’d Like to Meet Section?
    %dd A.  We want you to meet someone in the context of what they do with their lives, not what they have to say about their lives.  We want people to meet you the same way.  We want you to have great dates, not endless conversations about politics, deal breakers, and your entire relationship history before you ever get face to face with someone.

    %dt Q.  Fine.  I assume the same is true for the profile pictures?  I had eight different head shots taken so I could look really, really good online.
    %dd A.  Yep, you only get three profile pictures.  All the other pictures have to happen in the context of your pillars.  If you are really, really good looking, we suggest you add the “Fashion / Modeling” pillar and add them there.