%h1.center
  aGreatFirstDate.com
  %br
  User Agreement 


%p Welcome to the aGreatFirstDate.com web site (the "Site") provided by aGreatFirstDate.com, Ltd., a Colorado limited liability company ("we" or "GFD"). This User Agreement ("User Agreement") constitutes a binding agreement between you and GFD, and governs your access to and use of this Site and the data, information, materials and other content available on or through this Site (collectively, the "Site Materials") whether or not you register to become a registered member of aGreatFirstDate.com ("Member"). Please read this User Agreement carefully before using this Site or any Site Materials. By accessing or using this Site or any Site Materials, you automatically agree to be bound by the terms of this User Agreement. If you do not agree to be bound by the terms of this User Agreement, do not continue using our Site.

%p We reserve the right, at our sole discretion, to change this User Agreement from time to time. Your continued use of this Site or any Site Materials after such changes take effect will be deemed to constitute your acceptance of and agreement to the new User Agreement. 

%p PLEASE READ THIS AGREEMENT CAREFULLY BEFORE ACCESSING, USING OR BROWSING THIS SITE OR ANY SITE MATERIALS. BY CLICKING ON "I AGREE," OR BY ACCESSING, USING OR BROWSING THIS SITE OR ANY SITE MATERIALS, YOU ACKNOWLEDGE AND CONFIRM THAT: (1) YOU HAVE READ AND UNDERSTAND ALL OF THE TERMS AND CONDITIONS OF THIS USER AGREEMENT; AND (2) YOU AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS USER AGREEMENT AND ACKNOWLEDGE THAT THIS USER AGREEMENT IS THE LEGAL EQUIVALENT OF A SIGNED, WRITTEN CONTRACT BETWEEN YOU AND GFD. IF YOU ARE NOT WILLING TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT, INCLUDING WITHOUT LIMITATION THE PRECEDING ACKNOWLEDGEMENT AND AGREEMENT, DO NOT SELECT THE 'I AGREE' BUTTON ASSOCIATED WITH THIS USER AGREEMENT, AND DO NOT CONTINUE TO USE OUR SITE, AND GFD DOES NOT AND WILL NOT GRANT YOU ANY RIGHT OR LICENSE TO ACCESS, USE OR BROWSE THIS SITE OR THE SITE MATERIALS. 

%h2 1. Nature of Service

%p GFD’s Site _____[MISSION STATEMENT OR SOMETHING OF THE LIKE]_____________________. 

%h2 2. No Recommendations 

%p GFD does not recommend or endorse any Member using this Site. You understand that GFD does not conduct criminal background checks on the users of this Sit or its Members, nor does GFD inquire into the backgrounds of all its Members nor attempts to verify the statements of its Members. You assume all responsibility in connection with any interaction you engage in with a Member on this Site. GFD and its licensors, information providers, suppliers and affiliates (collectively, the "Affiliates"), and the directors, officers, agents, and representatives of each, assume no (and hereby disclaim all) responsibility or liability of any kind, for any claims that may arise directly or indirectly from any use by a user through the Site. 

%h2 3. Proprietary Rights

%p Except as explicitly provided in this User Agreement, all right, title and interest in and to the Site, including any software or code used in connection with the operation of the Site, and all Site Materials, including without limitation the graphical display of this Site and all and all intellectual property rights embodied therein, are the property of GFD or our Affiliates. The Site and Site Materials are protected by law, including, but not limited to, United States and international copyright law and trademark law, trade secret law, as well as other state, federal, and international laws and regulations.

%p Except as expressly permitted in this User Agreement or otherwise permitted by us in writing, you will not copy, reproduce, modify, adapt, translate, distribute, transmit, download, upload, post, sell, rent, license, transfer, disclose, publicly perform, publicly display, mirror, frame, create derivative works of, reverse engineer, decompile or disassemble, or use any aspect of this Site or any Site Materials, in whole or in part, in any form or by any means. Without limiting the foregoing, except as expressly permitted by us in writing, you will not, directly or indirectly, use any of information contained therein: (i) for any purposes other than in connection with finding a compatible friend or partner; (ii) to compile mailing lists or other lists for commercial purposes; (iii) to establish independent data files or compendiums of statistical information; or (iv) in violation of any applicable laws or regulations. Any unauthorized use, disclosure or reproduction of any part of the Site or any Site Materials may violate copyright laws, trademark laws, trade secret laws, laws pertaining to privacy and publicity rights, or other laws or regulations. Please be aware that we actively and aggressively enforce our intellectual property rights to the fullest extent of the law. 

%h2 4. Use of this Site and the Site Materials

%p EXCEPT AS EXPRESSLY PERMITTED BY US IN WRITING, YOUR RIGHT TO ACCESS AND USE THE SITE AND THE SITE MATERIALS IS LIMITED SOLELY TO A REVOCABLE, NONEXCLUSIVE, NON-TRANSFERABLE LICENSE TO ACCESS AND VIEW THIS SITE AND THE SITE MATERIALS FOR YOUR INDIVIDUAL PERSONAL USE AND MAY NOT BE USED IN CONNECTION WITH ANY COMMERCIAL ENDEAVORS.  All rights not expressly granted to you herein are reserved by GFD and there are no implied licenses under this Agreement. The license granted to you in this User Agreement is expressly conditioned on your continued compliance with this User Agreement. Please note that GFD, in its sole discretion, may change this User Agreement from time to time and your continued use of this Site or any Site Materials after any such change takes effect will be deemed to constitute your acceptance of and agreement to the changed User Agreement. 

%h2 5. Password Maintenance and Responsibility 

%p If you wish to access certain areas of this Site or the Site Materials available on or through certain areas of this Site, you must choose a password during your completion of this Site's registration process. By registering, you represent, warrant and covenant that: (i) you are at least 18 years of age; (ii) you are using your actual identity; (iii) you have provided only true, accurate, current and complete information about yourself during the registration process; and (iv) you will maintain and promptly update the information that you provide to keep it true, accurate, current and complete. You may update your information at any time by logging into the Site and clicking on "My Profile." 

%p By logging onto this Site using any password, you represent, warrant and covenant that you are authorized to use such password and to engage in the activities that you conduct thereunder. You are solely responsible for the confidentiality and use of your password, as well as for any activities conducted on or through this Site using your password. If you wish to cancel a password, or if you become aware of any loss, theft or unauthorized use of a password, please notify us immediately. We reserve the right to delete or change any password at any time and for any reason. 

%h2 6. Term and Termination 

%p This User Agreement will take effect at the time you click "I Agree" or receive a user ID. We reserve the right, at any time and for any reason, without notice to you, (i) to deny you access to this Site, any Site Materials, or any portion thereof; (ii) to change, remove or discontinue the Site or any portion thereof, or any of the Site Materials or services available on or through this Site; or (iii) to terminate this User Agreement in its sole discretion.  Upon termination of this User Agreement, all licenses granted to you under this User Agreement immediately and automatically terminate and you may no longer access, browse or otherwise use this Site, the Site Materials or any portion thereof.

%h2 7. Our Privacy Policy 

%p We consider the protection of our users' personal data to be important. Therefore, we have adopted a Privacy Policy outlining our personal data collection and use practices. Please refer to it for details about how we collect and use personal information from users of this Site. By agreeing to the terms of this User Agreement, you are automatically agreeing to our Privacy Policy, which is incorporated herein.

%h2 8. Links to Other Sites 

%p This Site may contain links to other sites on the World Wide Web for the convenience of our users. These other sites have not been reviewed by us and are maintained by third parties over which we exercise no control. Accordingly, we expressly disclaim any responsibility for the content, policies and practices of these other sites and for the availability, accuracy, reliability, completeness, currency, quality, performance or suitability of the information, products and services available or advertised on or through these other sites. Moreover, these links do not imply, directly or indirectly, our endorsement of or affiliation with any other site or site owner, or any information, products or services provided by any third party. When leaving this Site, you should be aware that our terms and policies may no longer govern, and, therefore, you should review the applicable terms and policies of each linked site. 

%h2 9. Third Party Content and Privacy Information Delivered to Third Parties

%p Some of the Site Materials, including but not limited to, certain product information, blogs, data, research, analysis and opinions, are provided by independent information providers ("IIPs"). We make no representations with respect to, nor do we guarantee or endorse the availability, accuracy, reliability, completeness, currency, quality, performance, suitability, or correct sequencing of any information, materials or other content provided by any of the IIPs. We do not endorse, oppose or edit any opinion or analysis expressed by any of the IIPs. We assume no responsibility or liability for any information, materials or other content provided by any of the IIPs. Moreover, any private information you deliver to third parties accessed through a link at the Site will be held subject to the privacy policies of that third party, and not GFD. 

%h2 10. Permission to Use Your Submissions 

%p Any and all materials (except as otherwise provided in the Privacy Policy), including without limitation suggestions, personal information, feedback, ideas, concepts, comments, illustrations, photographs, profiles, communications with other Members and other materials that you disclose or offer to us on or in connection with this Site or any Site Materials, ("Submissions") are submitted by you without any restrictions or expectation of confidentiality. You hereby assign to us without additional consideration or further obligation, all rights now known or hereafter existing to use, allow others to use, or assign the right to use, the Submissions. You further agree that your Submissions may be used without restriction for any purpose whatsoever, commercial or otherwise, without compensation to you, including the right to use, reproduce, modify, adapt, publish, transmit, publicly perform or display, translate, create derivative works from, or otherwise communicate to the public the Submissions on this Site or elsewhere by us, our assigns or others we have allowed to use your Submissions. You will not assert any proprietary right or moral right of any kind with respect to any Submissions.

%p You represent and warrant to GFD that:
%ul 
  %li you own, or are otherwise lawfully authorized to use, all Submissions and portions thereof that you transmit to or through this Site;
  %li any Submissions submitted by you will not contain any of the following material (the “Proscribed Material”):  
  %li material that is false, factually inaccurate or misleading;
  %li material that is defamatory, libelous, deceptive or fraudulent; 
  %li material that violates any U.S. or foreign law or regulation;
  %li material that discriminates against, ridicules, harasses or disparages an individual or group for any reason, or on the basis of race, religion, national origin, gender, sexual orientation, marital status, age, disability or any other status that GFD deems inappropriate for the Site;
  %li material that violates any person’s privacy right;
  %li material that infringes or violates any person’s copyright, trademark or other intellectual property right;
  %li material that is offensive, obscene or derogatory; and
  %li material that promotes violence, firearms, ammunition or weapons designed to inflict serious bodily harm; 
  %li material that GFD deems, in its sole discretion, objectionable or inappropriate for the Site.


%h2 11. Confidentiality on the Internet 

%p Use of the Internet is solely at your own risk and is subject to all applicable local, state, federal, and international laws and regulations. While we have endeavored to create a secure and reliable site, please be advised that the confidentiality of any communication or material transmitted to us over the Internet cannot be guaranteed. Consequently, neither we nor our Affiliates are responsible for the security of any information transmitted via the Internet, the accuracy of the information contained on this Site, or for the consequences of any reliance on such information. You must make your own determination as to these matters.

%h2 12. Electronic Communications with GFD 

%p Should you elect to send or receive e-mail communications of any kind to or from GFD, you represent and warrant to GFD that your e-mail service has appropriate and adequate security systems necessary to prevent unauthorized access to outbound or inbound e-mail transmissions. You further agree that the content (including any Site Materials) in any e-mail or other electronic communication you receive from GFD is subject to the provisions of this User Agreement.

%h2 13. Site Monitoring 

%p We reserve the right, but have no obligation, to view, monitor and record activity on this Site without notice to or permission from you. We may disclose any records, electronic communications, information, materials or other content of any kind (i) if we believe in good faith that the law or legal process requires it; (ii) if such disclosure is necessary or appropriate to operate this Site; or (iii) to protect our rights or property or the rights or property of our users and business partners. However, we are not responsible for screening, policing, editing or monitoring this Site. 

%p We are committed to complying with copyright and related laws, and expect all users of this Site to comply with such laws as well. Using this Site to transmit any content or to engage in any activity that infringes any copyright or any other right of a third party violates this User Agreement. You represent and warrant to GFD that you own, or are otherwise lawfully authorized to use, any information, materials or other content that you transmit to or through this Site, and that the use of the same does not violate copyright or related laws and will not cause injury to any person or entity. 

%p If notified of an allegation that this Site contains infringing, defamatory, damaging, illegal or offensive records, electronic communications, information, materials or other content, we may, but have no obligation to, investigate the allegation and determine in our sole discretion whether to remove or request the removal of the same from this Site. Notices to us regarding any alleged copyright infringement on this Site should be directed to GFD at the following e-mail address: __________________.

%h2 14. Events Beyond Our Control 

%p You absolve and release us and our Affiliates from any claim of harm resulting from any cause(s) over which we or they do not have direct control, including, but not limited to, failure of electronic or mechanical equipment or communication lines, telephone or other interconnect problems, computer viruses or other damaging code or data, unauthorized access, theft, operator errors, severe weather, earthquakes, natural disasters, strikes or other labor problems, wars, or governmental restrictions, and disclosure of your private health information that you have provided to third parties through links on our web site. 

%h2 15. Disclaimers 

%p THIS SITE AND THE SITE MATERIALS ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WHILE WE ENDEAVOR TO PROVIDE THE MOST ACCURATE, UP TO DATE INFORMATION AVAILABLE, THE SITE MATERIALS MAY CONTAIN TECHNICAL OR OTHER INACCURACIES OR TYPOGRAPHICAL ERRORS, AND MAY BE CHANGED OR UPDATED WITHOUT NOTICE. 

%p TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO: (I) ANY WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY, RELIABILITY, COMPLETENESS, CURRENCY, QUALITY, PERFORMANCE OR SUITABILITY OF THIS SITE, THE SITE MATERIALS, OR ANY PRODUCTS, SERVICES OR RESULTS OBTAINED ON OR THROUGH THIS SITE; INCLUDING COMPATIBILITY WITH ANY PERSON YOU MEET THROUGH THIS SITE, AND (II) ANY IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED. WE DO NOT REPRESENT OR WARRANT THAT THIS SITE WILL BE UNINTERRUPTED, ERROR-FREE, OR FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE AND THE SITE MATERIALS IS ENTIRELY AT YOUR OWN RISK. 

%p FURTHER, WE EXPRESSLY DISCLAIM ANY AND ALL RESPONSIBILITY AND LIABILITY WITH RESPECT TO ANY DAMAGES WHATSOEVER ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANY OTHER USER OF THIS SITE OR FROM PERSONS YOU MEET IN CONNECTION WITH THIS SITE, WHETHER YOU MEET SUCH PERSON ONLINE, OFFLINE OR IN PERSON.  

%h2 16. Limitations of Liability 

%p NEITHER WE NOR OUR AFFILIATES WILL BE LIABLE FOR ANY DAMAGES RESULTING FROM YOUR USE OF, OR RELIANCE UPON, THIS SITE, ANY SITE MATERIALS, OR ANY PRODUCTS OR SERVICES OBTAINED ON OR THROUGH THIS SITE. IN THE EVENT OF ANY PROBLEM WITH THIS SITE, ANY SITE MATERIALS, OR ANY PRODUCTS OR SERVICES OBTAINED ON OR THROUGH THIS SITE, YOUR SOLE REMEDY IS TO CEASE USING THE SITE.    IN NO CASE SHALL GFD BE LIABLE TO ANY USER FOR ANY AMOUNTS IN EXCESS OF ANY SUBSCRIPTION OR MEMBER FEES PAID BY SUCH USER TO GFD.

%p UNDER NO CIRCUMSTANCES WILL WE OR OUR AFFILIATES, OR ANY OF OUR OR THEIR RESPECTIVE DIRECTORS, OFFICERS, SHAREHOLDERS, PROPRIETORS, PARTNERS, EMPLOYEES, AGENTS, REPRESENTATIVES, SERVANTS, ATTORNEYS, PREDECESSORS, SUCCESSORS OR ASSIGNS, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, BODILY INJURY, EMOTIONAL DISTRESS AND DAMAGES THAT RESULT FROM INCONVENIENCE, DELAY, OR LOSS OF USE) ARISING OUT OF USE OF THIS SITE, ANY SITE MATERIALS, ARRANGEMENTS MADE BASED ON INFORMATION OBTAINED ON OR THROUGH THIS SITE, OR PRODUCTS OR SERVICES OBTAINED ON OR THROUGH THIS SITE, EVEN IF WE OR THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  YOU AGREE TO TAKE ALL REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER USERS OF THIS SITE. Because some states do not allow the exclusion or limitation of liability for consequential or incidental damages, this limitation may not apply to you. 

%h2 17. Indemnity 

%p You will defend, indemnify, and hold harmless GFD and our Affiliates, and our and their respective directors, officers, shareholders, proprietors, partners, employees, agents, representatives, servants, attorneys, predecessors, successors and assigns, from and against any and all claims, proceedings, damages, injuries, liabilities, losses, costs and expenses (including reasonable attorneys' fees and litigation expenses), relating to or arising from (i) your use of this Site, any Site Materials, or any products or services obtained on or through this Site, (ii) any arrangements or interactions you make based on information obtained on or through this Site, or (iii) any breach by you of this User Agreement. 

%h2 18. Governing Law and Selection of Venue 

%p Regardless of the jurisdiction in which you work or reside, this User Agreement is made in the State of Colorado, and will be construed and enforced in accordance with Colorado law (without regard to its provisions governing conflicts of law), as applied to agreements entered into and completely performed in Colorado. Any action arising out of the content of this Site, your use of the Site Materials, or any action to enforce this User Agreement will be brought only in the federal or state courts presiding in Denver, Colorado, U.S.A., and you expressly agree to be subject to the jurisdiction of such courts. Use of this Site is limited solely to persons who agree to resolve any and all disputes pertaining to this Site in the federal and state courts of Colorado, and such an agreement is an express condition to use of this Site. This Site is controlled and operated by GFD from its offices within the United States. We make no representation that this Site or the Site Materials are appropriate or available for use outside of the United States, and access to this Site or the Site Materials from territories where their contents are illegal is prohibited. Those who choose to access this Site or the Site Materials from locations outside of the United States do so of their own volition and are responsible for compliance with applicable local laws. 

%h2 19. Notices 

%p All notices to you will be sent to the e-mail address that you provide to us when you register. Such notice will be deemed given one business day after the e-mail is sent. Except as expressly stated otherwise, all notices to us must be sent to _______________ or to the following address: 

%p 
  ______________________
  %br
  ______________________
  %br
  ______________________

%h2 20. Miscellaneous 

%p The following provisions will survive the termination of this User Agreement: 2, 3, 4, 5, 7 through 18, and 20. Failure to insist on strict performance of any provisions of this User Agreement will not operate as a waiver of any subsequent default or failure of performance. No waiver of any provision of this User Agreement will be valid unless in writing and acknowledged in writing or electronically by both parties. If any portion of this User Agreement is adjudged invalid or unenforceable by a court of competent jurisdiction, the remaining portions will remain valid, enforceable, and in effect, and the parties will promptly substitute for the invalid provision an enforceable provision which resembles the invalid provision as closely as possible in intent and economic effect. No joint venture, partnership, employment or agency relationship exists between you and GFD as a result of this User Agreement or your use of this Site or any Site Materials. Any rights not expressly granted herein are reserved by GFD. This User Agreement constitutes the entire agreement between you and GFD with respect to your use of this Site and the Site Materials, and supersedes any and all prior understandings or agreements between you and GFD, whether written or oral. You acknowledge that, in providing you access to and use of this Site and the Site Materials, we have relied on your acceptance of this User Agreement.


%h2 21. Contacting GFD

%p If you have any questions about this User Agreement, the Site, or if you would otherwise like to contact GFD, you can do so by sending an e-mail to ____________ or writing to us at:

%p 
  ______________________
  %br
  ______________________
  %br
  ______________________

%p Last Updated: May 15, 2012 
