<div class="pillar-image">
  <div class="category-image">
    <img src="<%= image_url %>"/>
    <div class="categoryDesc">
      <h3><%= pillar_category.name %></h3>
    </div>
  </div>
  <div class="pillar-content"></div>
</div>
