%p Select Items
.instagram_error

.row-fluid{style: "max-height:150px;overflow-y:scroll;"}
  %ul.instagram-photos
  .text-center.loader
    = image_tag 'loader.gif'

%p.photos_count
  %span 0
  Photos selected