.photo-item.span2
  %a.instagram-photo{data: {src_big: "<%= standard_resolution['url'] %>" }, href: '#'}
    %img{src: "<%= thumbnail['url'] %>",  style: "max-height: 65px;", :data => {:src_big => "<%= standard_resolution['url'] %>"}}
