.thumbnail{:style=>"float:left"}
  %a{:href=>"#", :class => "facebook_album", 'data-aid' => 'aid<%= aid %>'.html_safe}
    %img{src: '<%= src %>', 'data-aid' => 'aid<%= aid %>'.html_safe}
  %h5 <%= name %>