.album-item
  %a{:href=>"#", :class => 'link-to-album', 'data-aid' => 'aid<%= aid %>'.html_safe}
    %img{src: '<%= src %>', 'data-aid' => 'aid<%= aid %>'.html_safe}
  %p
    %a{:href=>"#", :class => 'link-to-album', 'data-aid' => 'aid<%= aid %>'.html_safe}
      <%= name %>
  %p
    <%= photo_count %> Photos