= form_tag :event_item, id: 'edit_event_item' do |f|
  .input
    = label_tag :posted_at, 'Posted'
    = text_field_tag :posted_at, '<%= posted_at %>'.html_safe, class: 'datepicker'
  #event_type_fields
