%b <%= posted_at %>
= link_to '', '', href: "#/pillars/<%= pillar_id %>/event_items/<%= id %>".html_safe, class: "show-dot"
/ "#/pillars/<%= pillar_id %>/event_items/<%= id %>/destroy" class="destroy"