%h3 <%= event_type.title %>
.fields

= link_to 'Show', '', href: "#/pillars/<%= pillar_id %>/event_items/<%= id %>".html_safe
= link_to 'Edit', '', href: "#/pillars/<%= pillar_id %>/event_items/<%= id %>/edit".html_safe
/ "#/pillars/<%= pillar_id %>/event_items/<%= id %>/destroy" class="destroy"