%span#event_item_hintbox
  .black-box <%= $.datepicker.formatDate("<span class='day'>dd</span> M''y", date) %>
  <% if (title_short) { %>
  .title
    <%= title_short %>
    .truncate
  <% } %>
  <% if (description_short) { %>
  .desc
    <%= description_short %>
    .truncate
  <% } %>
  .fields
