%span#event_item_hintbox
  .black-box <%= $.datepicker.formatDate("<b>dd</b> M''y", date) %>
  <% if (title_short) { print('<b>'+title_short+'</b>'); }  %>
  <% if (description_short) { print('<p>'+description_short+'</p>'); }  %>
  .fields
