%h2 Add an Event
%form{id: 'new_event_item'}
  .input
    = label_tag :pillar_id do
      Pillar
    = select_tag :pillar_id
  .input
    = label_tag :event_type_id do
      Event/Milestone
    = select_tag :event_type_id
  #event_type_fields
  .clear
.photos_section
