.blog_container
  #contents
    = render :partial => 'post', :locals => {:post => @post}
    = render :partial => 'share', :locals => {:url => blog_post_url(@post.alias)}
  #widgets
    #widget-area
      = render :partial => 'linksalpha'