%h2 About Me
.personal-widget
	<%= who_am_i_short %>
	%br
	<% if ('active' == me.status) { %>
	= link_to 'Say Hi!', '#/say_hi', :class => "btn"
	<% } %>
	<% if ('admin' == me.role) { %>
	<% if ('active' == status) { %>
	= link_to 'Deactivate', '#', :class => "btn deactivate_"
	<% } else { %>
	= link_to 'Activate', '#', :class => "btn activate_"
	<% if ('awaiting' == inappropriateContent.status) { %>
	= link_to 'Still Inappropriate', '#', :class => "btn still-inappropriate_"
	<% } %>
	<% } %>
	<% } %>
