.edit_about_wrapper
  %h2 Who would you like to find?
  %p Please, add some text about that
  %form{id: 'edit_meet'}
    .input
      = label_tag :who_meet, "Who I'd like to meet'"
      = text_area_tag :who_meet, '<%= who_meet %>'.html_safe
  .clear
  %p
    You have
    %span#charsLeft
    chars left
  .clear
