#choose_pillars_popup {
  &.modal {
    width: 850px;
    margin-left: -425px;
    top: 10px;
    
    .modal-body{
      max-height: 600px;
    }
  }
}

#event_items_popup {
  &.modal {
    width: 570px;
    margin-left: -285px;
    
    .modal-body{
      max-height: 600px;
    }
  }
  .event_photos_previews {
    ul {
      padding: 0;
      margin: 0;
      li {
        float: left;
        margin: 0 10px 10px 0;
      }
    }
  }
}
