#choose_pillars_popup {
  &.modal {
    width: 850px;
    margin-left: -425px;
    top: 10px;
    
    .modal-body{
      max-height: 600px;
    }
  }
}

#show_event_items_popup{
  &.modal {
    width: 670px;
    margin-left: -335px;
    
    .modal-body{
      max-height: 600px;
    }
  }
  
  .event_item_container {
    border: 1px solid #d7d7d7;
    background: #ececec;
    padding: 15px;
    overflow: hidden;
    
    span.date {
      font-size: 12px;
    }
    
    h4 {
      font-size: 15px;
      color: #8dc63f;
      font-weight: normal;
    }
    
    .event_item_photos-medium {
      float: left;
      width: 290px;
      margin-right: 15px;
      position: relative;
      
      .prev-medium,
      .next-medium {
        display: block;
        position: absolute;
        top: 0;
        width: 145px;
        height: 222px;
        color: #fff;
      }

      .prev-medium {
        left: 0;
      }

      .next-medium {
        right: 0;
      }

      .prev-medium.inactive,
      .next-medium.inactive {
        display: none;
      }

      .prev-medium span,
      .next-medium span {
        display: none;
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #4E443C;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 0 1px #000;
        font: 24px;
        -webkit-border-radius: 20px;
           -moz-border-radius: 20px;
                border-radius: 20px;
        -webkit-box-shadow: 0 0 2px #999;
           -moz-box-shadow: 0 0 2px #999;
                box-shadow: 0 0 2px #999;
      }

      .prev-medium span {
        left: 5px;
      }

      .next-medium span {
        right: 5px;
      }

      .prev-medium:hover span,
      .next-medium:hover span {
        display: block;
      }
      
    }
    
    .navigation-medium {
      width: 290px;
      float: left;
      clear: left;
      margin-right: 15px;
    }
    
    .carousel-medium {
      height: 222px;
      img {
        border: 5px solid #ffffff;
      }
    }
    
    .carousel-navigation {
      height: 68px;
      li {
        padding-right: 10px;
        &:last-child {
          padding-right: 0px;
        }
        img {
          border: 3px solid #ffffff;
        }
      }
    }
  }
}



#event_items_popup {
  &.modal {
    width: 570px;
    margin-left: -285px;
    
    .modal-body{
      max-height: 600px;
    }
  }
  
  .event_photos_previews {
    ul {
      padding: 0;
      margin: 0;
      li {
        float: left;
        margin: 0 10px 10px 0;
      }
    }
  }
}
