
i.facebook-signin-button {
  background: image-url('facebook_signin.png');
  width: 181px;
  height:27px;
  display: inline-block;
  line-height: 20px;
  vertical-align: text-top;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

i.facebook-signin-button:hover {
  background-position: 0px -37px;
}

.facebook-block {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 10px 0 1px 0;
  margin-top: 10px;
}

form.quick-login {
  margin-bottom: 0;
}
