.center {
  text-align: center;
}

.no-margin {
  margin: 0 !important;
}

/* For the JIRA Issue Collector button */
.atlwdg-trigger {
  z-index: 3;
}

.modal#play-video {
  width: 512px;
  margin-left: -256px;
  .modal-body {
    padding: 0px;
  }
}

.instagram-video:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  background: url('video_ico.png') no-repeat;
  z-index: 9998;
}

.pages {

  margin-bottom: 5em;
  
  h1, h2 {
    font-weight: 100;
    margin: 1.5em 0;
    line-height: 1em;
  }

  h1 {
    font-size: 64px;
    text-align: center;
  }

  h2 {
    font-size: 48px;
  }

  dl {
    margin-bottom: 8em;
  }

  dt {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
  }

  dd {
    margin-left: 10px;
    color: #999;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 1em;
  }

  p {
    font-size: 16px;
    line-height: 1.5em;
  }

}