.home {
  .live-life-find-love-doing-it {
    font-size: 90px;
    color:#669966;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 1;
    padding: 20px 0;
  }
}

.home, .how_it_works, .get_started {
  .inner {
    position: relative;
  }
}

.how_it_works, .get_started {
  .profile-info {
    border-left: 8px solid #fff;
    padding-left: 10px;
    position: absolute;
    width: 350px;
    color: #FFF;
    .name {
      text-transform: uppercase;
      font-size: 32px;
      line-height: 1;
      font-weight: 300;
      font-style: normal;
    }
    
    .categories {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
    }
    
    .description {
      font-size: 17px;
      margin: 0;
    }
  }
}

.how_it_works {  
  .profile-info {
    right: 0px;
    top: 200px;
    width: 350px;
  }
  
  
  .info {
    position: absolute;
    right: 0px;
    top: 400px;
    width: 368px;
    color: #fff;
    h2 {
      text-transform: uppercase;
      font-size: 47px;
      font-weight: normal;
    }
    ul {
      margin: 0 0 0 15px;
      list-style-type: square;
      font-size: 22px;
    }
  }
}

.get_started {  
  .profile-info {
    left: 0px;
    top: 200px;
    width: 350px;
  }
}

.gallery-slide {
  height:770px;
  .inner {
    padding: 110px 0;
  }
}

ul, ol {
  list-style: none;
}

.navbar {
  .nav {
    &.menu{
      font-size: 17px;
      li {
        line-height: 80px;
        color: #9c9c9b;
        a {
          padding: 0px 15px;
          font-weight: 300;
          color: #9c9c9b;
          &:hover {
            color: #747473;
            font-weight: 300;
          }
          &.active {
            font-weight: 400;
            color: #747473;
            text-decoration: underline;
          }
        }
      }
    }
    // end .menu
    
    
  }
  .auth_block {
    display: block;
    position: relative;
    > li {
      a.btn {
        color: #fff;
        text-shadow: none;
      }
      float: left;
      padding: 20px 0 10px 15px;
    }
  }
  .dropdown-form {
    right: 0;
    left: inherit;
    width: auto;
    color: #000;
    font-size: 11px;
    padding: 10px;
  }
}

footer {
  background: #597754 image-url('bg-welcome-footer.png');
  color: #f5f6f4;
  height: 104px;
  
  .inner {
    padding: 20px 0;
  }
  
  .copyright {
    clear: both;
    padding-top: 10px;
  }
  
  ul {
    margin: 0;
    margin: 0;
    li {
      padding: 0 10px 0 0;
      float: left;
    }
  }
  
  a {
    color: #f5f6f4;
  }
}

.icon-home-left, .icon-home-right {
  display: inline-block;
  width: 17px;
  height: 30px;
  line-height: 17px;
  vertical-align: text-top;
  background-image: image-url('arrows-sprite.png');
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon-home-left {
  background-position: 0px 0px;
}

.icon-home-right {
  background-position: -17px 0px;
}

.logos {
  float:right;
}