#pageHeader
  #headerWrapper
    #headerUserPoints
      float: left
      background-color: white
      height: 30px
      margin-top: -3px
      line-height: 30px
      margin-left: 15px
      padding: 0px 10px
      -moz-box-shadow: inset 0 0 5px #888
      -webkit-box-shadow: inset 0 0 5px #888
      box-shadow: inner 0 0 5px #888
      span
        font-family: 'Gudea', sans-serif
        color: #8dc63f
        text-transform: uppercase
        font-weight: bold
    #headerUserTools
      float: left
      height: 24px
      border: 0
      background-color: none
      color: white
      a, span
        line-height: 24px
      span
        padding: 5px 5px 7px 5px
      a
        font-size: 14px
        text-decoration: none
        color: white
        &:hover
          color: #8dc63f
#wrapper
  #pageContainer
    margin-top: 30px
    #leftPillarArray
      width: 220px
      float: left
      #leftPillarContainer
        height: 100%
        padding: 0 2px 2px 3px
        border: 1px solid #eee
        border-top: none
        -moz-box-shadow: 0px 6px 6px #ddd
        -webkit-box-shadow: 0px 6px 6px #ddd
        box-shadow: 0px 6px 6px #ddd
        .pillar-image
          width: 213px
          height: 163px
          max-width: 213px
          max-height: 163px
        .pillar-content
          margin-top: 3px

    #rightPillarArray
      float: left
      margin-left: 30px
      width: 710px
      #pillarAboutMe
        width: 100%
        height: 163px
        #pillarAboutMeContent
          width: 214px
          height: 163px
          float: left
          .pillar-content
            margin-top: 5px
        #pillarAboutMePhoto
          text-align: center
          float: left
          margin: auto 0
          margin-left: 30px
          width: 220px
          height: 163px
          border: 1px solid #eee
          box-shadow: 0 6px 6px #DDDDDD
          #add_avatar_link
            img
              margin-top: 32px
        #pillarAboutMeMeet
          float: left
          width: 214px
          margin-left: 30px

    #leftMiddleBottomContainer
      margin-top: 30px
      #leftMiddlePillar
        float: left
        width: 214px
        padding: 0 2px 2px 3px
        border: 1px solid #eee
        border-top: none
        -moz-box-shadow: 0px 6px 6px #ddd
        -webkit-box-shadow: 0px 6px 6px #ddd
        box-shadow: 0px 6px 6px #ddd
      #rightBottomPillarArray
        float: left
        height: 100%
        width: 460px
        margin-left: 25px
        #rightBottomContainer
          width: 100%
          height: 90%
          #rightMiddlePillar, #rightPillar
            float: left
            width: 214px
            height: 100%
            border: 1px solid #eee
            border-top: none
            -moz-box-shadow: 0px 6px 6px #ddd
            -webkit-box-shadow: 0px 6px 6px #ddd
            box-shadow: 0px 6px 6px #ddd
          #rightPillar
            width: 214px
            margin-left: 27px
        #bottomPillar
          margin-top: 15px
          width: 100%
          h2
            width: 100%

  h2
    margin: 0
    font-size: 16px
    padding: 0 0 1px 0
    color: #8dc63f
    width: 206px
    border-bottom: 1px solid #eee

.category-image
  position: relative
  img
    min-width: 213px
  .categoryDesc
    position: absolute
    width: 207px
    opacity: 0.85
    top: 132px
    left: 3px
    background-color: #444
    z-index: 20
    h3
      color: #8DC63F
      margin: 0
      font-size: 13px
      opacity: 1
      padding: 5px 8px

.add_new_event
  margin: -18px 0 0 26px

a
  color: #448ccb
  font-size: 12.5px

.pillar-content
  color: #5b6573
  p
    line-height: 12px
    font-size: 11px
    margin: 3px 0 0 0
    padding: 0
    a
      font-size: 11px

.ui-dialog
  padding: 15px
  font-family: 'PT Sans', sans-serif
  .ui-dialog-buttonpane
    .ui-dialog-buttonset
      float: left
      padding: 0 9px
.ui-widget-content
  border: 0
  a
    color: #448CCB
    font-size: 12.5px
    line-height: 57px
    margin-left: 18px
    &:hover
      color: #8DC63F
  h2, h3, p
    margin: 0
    padding: 0
  h2, h3
    color: #8DC63F
  h2 
    width: 25%
    border-bottom: 1px solid #eee
  h3
    background-color: #F2F5F7
    margin: -15px 0 5px 15px
    padding: 2px
    text-align: center
    width: 120px
  p
    font-size: 12px
    margin-top: 10px
.ui-corner-all
  border-radius: 0
.ui-widget-overlay
  opacity: 0.3
  background-color: #000
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header, .ui-state-default, .ui-button
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811))
  background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811')
  background-color: #77d42a
  display: inline-block
  background: #8dc63f
  border: 1px solid #8DC63F
  color: white
  font-family: 'Candal', sans-serif
  font-size: 13px
  text-transform: uppercase
  font-weight: bold
  padding: 6px 14px
  text-decoration: none
  &:hover
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a))
    background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a')
    background-color: #5cb811
  &:active
    position: relative
    top: 1px

#select_pillars_form
  margin-top: 20px
  #lightboxFormContainer
    width: 100%
    padding: 5px
    height: auto
    border: 1px solid #ddd
    li
      display: block   
      float: left
      width: 212px
      height: 150px
      margin: 10px
      .pillar_label
        margin-left: 21px
        label
          font-size: 13px
          color: #448CCB
          margin: 0
        p
          margin: 0
          line-height: 100%
          padding: 0     
      .pillar_checkbox
        float: left
        width: 10%
      img
        float: right
        margin-right: 10px
        width: 180px 
        height: 95px

#selectPillar
  width: 400px
  margin-top: 25px
  p
    margin-bottom: 15px
    #pillar, input, #thoughts
      float: right
      margin-left: 20px
      width: 260px
      border: 1px solid #ddd
    #pillar
      width: 270px
      height: 23px
    input, #thoughts
      padding: 2px 4px
    input
      height: 18px
    #thoughts
      height: 90px