.index_bg
  background: image-url('bg.jpg')

.reg_page
  margin: 0 auto
  overflow: hidden
  padding: 0px 0 0 20px
  width: 940px

.video_block
  float: left
  margin-bottom: 50px
  width: 619px

.reg_form
  background-color: #fff
  border: 1px #72936a solid
  float: right
  padding: 16px 21px 12px 21px
  width: 220px

.fb_btn
  background-image: none
  margin: 0 0 12px 0
  background-color: #4c66a4 !important
  border-color: #3D4E7E !important
  font-size: 14px
  width: 180px
  i
    margin-right: 10px

.fb_btn:hover
  opacity: 0.9

.or
  background: image-url('or.png') no-repeat
  display: block
  height: 36px
  margin-bottom: 10px
  width: 219px

.reg_form, .quick-reg, .quick-login, .sign_in_form
  input
    &[type="text"], &[type="email"], &[type="password"]
      height: 33px
      padding-bottom: 0px
      padding-top: 0px
  p
    color: #666
    font-size: 10px
    line-height: 13px
    margin-bottom: 10px
    padding: 0 10px
    width: 205px

.sign_up_btn
  display: block
  font-weight: bold
  text-shadow: #000 0px 1px 0px
  width: 222px !important

.sign_up_btn:hover
  background-position: 0px 0px

.no_content
  min-height: 100%

.reg_popup
  height: 550px
  left: 50%
  margin: -275px 0 0 -120px
  position: absolute
  top: 50%
  width: 240px

.logo
  background: image-url('logo_reg.png') no-repeat
  display: block
  height: 155px
  margin: 0 auto 25px auto
  width: 238px

.reg_popup .reg_form
  border: none
  float: none
  margin: 0 auto
  padding: 0px
  width: 224px

.other_form
  color: #c1bfc4
  display: block
  font-size: 15px
  line-height: 16px
  margin-top: 16px
  text-align: center
  a
    color: #0a79ef

.quick-reg, .quick-login, .sign_in_form
  margin-bottom: 0
  width: 220px
  .fb_btn
    margin-top: 0
  .control-group
    margin-bottom: 0

.sign_in_form
  font-size: 11px
  #user_remember_me
    margin-right: 2px
    margin-top: -4px
  .remember 
    color: #999;
    text-align: left
    line-height: 30px