body.searches.index
  background: #ececec

#search
  position: relative
  .form-horizontal
    .control-group
      margin-bottom: 5px
    
  .check-box
    font-size: 12px
    margin-left: 60px

  #results_count
    margin-top: 12px
    padding: 0px 0 0 0
    text-align: center
    margin-left: 0
    width: 159px
    height: 89px
    h4
      color: #5b6573
      text-transform: uppercase
      font-size: 11px    
    .count_
      font-size: 24px  
  
  label
    color: #ffffff
    font-size: 12px
    
  h2.search-title
    padding: 0
    border: none
    color: #FFFFFF
    
  #opposite_sex_results
    overflow: hidden
    padding: 14px
    border-top: 1px solid #d7d7d7
    .frame
      background: #FFFFFF
      padding: 3px
      box-shadow: 0px 1px 1px #c9c9c9
        
      img
        vertical-align: top
    
    
  #favorite_users
    overflow: hidden
    margin: 25px 0 0 0
    padding: 14px    
    border: 1px solid #d7d7d7
    text-align: center
    
    a
      .frame
        background: #FFFFFF
        padding: 3px
        box-shadow: 0px 1px 1px #c9c9c9
        
        img
          vertical-align: top
        
    
    h4
      background: none repeat scroll 0 0 #ECECEC
      color: #8DC63F
      margin: -31px auto 0 auto
      left: 0
      right: 0
      position: absolute
      z-index: 1
      width: 100px
  
  #form_wrapper
    background: #6b737e
    background: linear-gradient(top, #6b737e 0%, #5c636e 49%, #5c636e 51%, #33373d 100%)
    background: -moz-linear-gradient(top, #6b737e 0%, #5c636e 49%, #5c636e 51%, #33373d 100%)
    background: -webkit-linear-gradient(top, #6b737e 0%, #5c636e 49%, #5c636e 51%, #33373d 100%)
    overflow: hidden
    padding: 8px 0 0 0
    
    .box-select
      width: 265px
      margin-left: 15px
      .form-horizontal
        .control-group
          margin-bottom: 1px
          select
            height: 26px
            border: 1px solid #343b46
            width: 173px
          input.input-mini
            height: 15px        
        label.control-label
          width: 80px
      
      div.controls
        margin-left: 95px
    
    #who_matches
      label
        input
          margin: 0    
    
  #results
    width: 9000px
    display: inline-block
    position: absolute
    left: -4070px
    top: 290px
    > div
      top: 0px
      position: relative
    .result-item
      position: relative
      width: 100px
      overflow: hidden
      float: left
      border: 2px solid #fff
      img
        vertical-align: top
      &.full
        background: #ffffff
        padding: 10px
        width: 615px
        height: 415px
        box-shadow: 0px 1px 1px #c9c9c9
        .strikes-wrapper_
          float: right
        .left
          float: left
          width: 200px
          font-size: 13px
          h3
            font-size: 16px
            color: #8dc63f
            font-weight: normal
          p
            padding: 0
          .btn
            font-size: 14px
        .right
          width: 280px
          float: right

  #coverflow
    .img
      float: left
      width: 300px
  
  .favorite-user, .opposite-sex-user
    float: left
    width: 90px
    margin-right: 10px

  .pillars
    list-style: none
    margin: 0
    li
      width: 128px
      float: left
      position: relative
      .categoryDesc
        position: absolute
        width: 120px
        bottom: 8px
        left: 3px
        background-color: rgba(50,50,50,0.6)
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 70, 70, 0.45)),to(rgba(10, 10, 10, 0.45)))
        z-index: 20
        h3
          color: #8dc63f
          margin: 0
          font-size: 14px
          font-weight: normal
          font-family: 'Segoe UI', 'PT Sans', arial, sans-serif
          opacity: 1
          padding: 2px 4px

  #slider
    border: 1px solid silver
    margin-top: 540px

.while-backround
  background: #ffffff

.green-text
  color: #8dc63f


.shadow-1
  -webkit-box-shadow: 0px 1px 10px 1px #777777
  -moz-box-shadow: 0px 1px 10px 1px #777777
  box-shadow: 0px 1px 10px 1px #777777

.border-box-1
  border: 1px solid #d7d7d7
