.hidden{
  display:none;
}

.search-filter {
  color: #fff;
  background: #4a525d;
  font-size: 12px;
  form {
    .control-group{
      margin-bottom: 4px;
    }
    .row{
      margin-left: 4px;
      margin-top: 8px;
      .params-box{
        width: 250px;
      }
      .pillar-categories{
        margin-left: 0px;
        width: 210px;
        margin-top: -9px;
      }
    }
    .control-label, select, label {
      font-size: 12px;
    }
    .control-label {
      width: 75px;
    }
    .controls {
      margin-left: 85px;
    }

    .no-margin {
      .controls {
        margin-left: 0px;
      }
    }
    select {
      width: 170px;
    }
    .input-mini {
      width: 55px;


    }
    .age-group .controls{
      width: 170px;
}
#looking_for_age_from{
        padding-right: 8px;
      }
      #looking_for_age_to{
        padding-left: 8px;
      }
  }
  .who-mathces{
    margin-top:-10px;
  }
  h1 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    paddng:0px;
    margin:0px;
    border:none;
    margin-top:-13px;
    span {
      color: #8dc63f;
    }
  }
}



.searches.index{
  #slider {
    margin-top:20px;
    width:880px;
    border:none;
    background:none;
    padding:10px 0;
    border-radius:none;
    -moz-border-radius:none;
    -webkit-border-radius:none;
    a.ui-slider-handle{
      height:0.5em;
      border-radius:0.5em;
      -moz-border-radius:0.5em;
      -webkit-border-radius:0.5em;
      background:#cccccc;
      border:none;
      width:80px;
      top:50%;
      margin:0;
      margin-top:-3px;
    }
  }




  #favorite_users {
    overflow: hidden;
    margin: 25px 0 20px 0;
    padding: 14px;
    border: 1px solid #d7d7d7;
    text-align: center;
    .favorite-users_{
      overflow:hidden;
      text-align:center;
      div{
        display: inline-block;
      .frame {
          display: inline-block;
          background: white;
          padding: 3px;
          box-shadow: 0px 1px 1px #c9c9c9;
          overflow: visible;
          position: relative;
          img {
            vertical-align: top;
          }
          .destroy_ {
            display: none;
            position: absolute;
            top: 3px;
            right: 8px;
            opacity: 0.7;
          }
          .destroy_:hover {
            opacity: 1;
          }
        }
      }


    }

    h4 {
      font-size: 14px;
      background: none repeat scroll 0 0 white;
      color: #8dc63f;
      margin: -31px auto 0 auto;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      width: 100px;
    }
  }
}



#results {
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  left: -90px;
  right: -90px;
  width: 1140px;
  overflow: hidden;
  height: 450px;
  .coverflow {
    height: 450px;
    display: inline-block;
    position: absolute;
    width: 9000px;
  }
  .result-item {
    position: relative;
    width: 100px;
    overflow: hidden;
    float: left;
    border: 2px solid white;
  
    img {
      vertical-align: top;
    }
    &.full {
      background: white;
      padding: 5px;
      width: 615px;
      box-shadow: 0px 1px 1px #c9c9c9;

      .icon-favorite {
        background: image-url('fav_star.png');
        background-position:bottom;
        cursor: pointer;
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        vertical-align: text-top;
      }

      .icon-favorite:hover {
        background-position:top;
      }

      .icon-favorite.favorite {
        background-position:top;
        display: inline-block;
        cursor: default;
      }

      .strikes-wrapper_ {
        float: right;
      }
      .left {
        float: left;
        width: 200px;
        font-size: 13px;
        height:394px;
        position:relative;
        .btn{
          position:absolute;
          bottom:0;
          font-size: 14px; }
        margin:0;
      }
      h3 {
        font-size: 16px;
        color: #8dc63f;
        font-weight: normal;
        padding-bottom:0;
        margin: 0;
        line-height: 28px;
      }
      .categoryDesc{
        h3{
        font-size: 16px;
        color: #8dc63f;
        font-weight: normal;
        padding-bottom:0;
        line-height: 30px;

        }
      }

      p {
        margin-bottom:0;
        padding:0;
        line-height:22px;
      }
      .right {
        width: 404px;

        float: right;
        ul.pillars{
          li{
            width:200px;
            height:200px;
            padding:0 0 2px 2px;
            img {
              width:200px;
              height:200px;
            }
            &:nth-child(odd){
              padding-right:0;
            }
          }
        }
      }
    }
  } // .result-item

  .prev, .next {
    font-size: 16px;
    line-height: 26px;
    padding:0 15px;
    color: #fff;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    background: #ccc;
    text-transform: uppercase;
  }
  .prev {
    left: 180px;
  }
  .next {
    right: 180px;
  }
}

#coverflow {
  .img {
    float: left;
    width: 300px;
  }
}

.favorite-user, .opposite-sex-user {
  float: left;
  margin:0 5px;
}

.pillars {
  list-style: none;
  margin: 0;
  li {
    width: 128px;
    float: left;
    position: relative;
    .categoryDesc {
      position: absolute;
      width: 194px;
      bottom: 4px;
      left: 4px;
      background-color: rgba(50, 50, 50, 0.6);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 70, 70, 0.45)), to(rgba(10, 10, 10, 0.45)));
      z-index: 20;
      h3 {
        line-height: 20px;
        color: #8dc63f;
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        opacity: 1;
        padding: 2px 4px;
      }
    }
  }
}


.searches.index #slider {
  position: relative;
}
.searches.index #slider a.ui-slider-handle {
  position: absolute;
  display: inline-block;
}

.searches.index #opposite_sex_results {
  height: 105px;
  display: block;
  padding-top: 10px;
}

#results_count{
  background-color: white;
  color: gray;
  margin-right: 10px;
  margin-left: -20px;
  padding: 4px;
  height: 130px;
  text-align: center;
  h4{
  font-size: 14.5px;
  padding-top: 30px;
  }
  .green-text{
    font-family: "Gudea", sans-serif;
    color: #8dc63f;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    font-style: normal;
    font-size: 16px;
  }
}
.search-warning-message{
font-size: 105%;
font-style: italic;
}
