form#edit_profile, form#edit_billing_profile {
  .control-group {
    margin-bottom: 12px;
  }
  label{

    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
  }
  h3{
    text-transform: uppercase;
    color: #8dc63f;
    border-bottom: 1px solid #d7d7d7;
    display: inline-block;
    padding-right: 20px;
    width: auto;
    margin-bottom: 19px;
    font-size: 21px;
  }
  label[for=profile_birthday_2i]{
//    width: 143px;
  }
  .date .controls{
  //  margin-left: 153px;
  }
  select.date.optional{
    &#profile_birthday_1i { width:75px; }
    &#profile_birthday_2i { width:125px; }
    &#profile_birthday_3i { width:55px; }
  }
  .age-controls {
    label{
      padding-right: 10px;
      width: 29px;
    }
    input {
      float: left;
      width: 70px;
    }
  }
  .input-large{
    width: 247px;
  }
  select{
    width: 261px;
  }
  
} // form


#card-stub{
padding-top: 12px;
background-color: #FCFCF8;
width: 167px;
padding-bottom: 8px;
color: #8B8A8A;
}
#card-actions{
padding-top: 23px;
margin-left: 7px;
font-size: small;
}