form#edit_profile {
  label[for=profile_birthday_2i]{
//    width: 143px;
  }
  .date .controls{
  //  margin-left: 153px;
  }
  select.date.optional{
    &#profile_birthday_1i { width:75px; }
    &#profile_birthday_2i { width:125px; }
    &#profile_birthday_3i { width:55px; }
  }
  .age-controls {
    label{
      padding-right: 10px;
      width: 29px;
    }
    input {
      float: left;
      width: 70px;
    }
  }
  .input-large{
    width: 247px;
  }
  select{
    width: 261px;
  }
  
} // form

