@import "mixins.scss";
.confirmations.show,
.registrations.new,
.unlocks.new,
.passwords.new,
.sessions.new{
  position:relative;
  #wrapper{
    background:image-url("welcome_back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .authorization_forms_wrapper {
      @include box-shadow(0 1px 5px rgba(0,0,0,0.7));
      @include vertical-gradient( rgba(74, 85, 100, 0.6), rgba(31, 51, 56, 0.6) );
      border:1px solid #6b737e;
      border-top:1px solid #878e98;
      border-bottom:1px solid #33373d;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top:-140px;
      margin-left:-139px;
      width:238px;
      padding:10px 20px;
      
      h1 {
        text-transform: uppercase;
        font-size: 16px;
        color: #87b944;
        font-weight: normal;
        span {
          color: #fff;
        }
      }
      
      .sign_in_link {
        position: absolute;
        right: 20px;
        top: 15px;
        z-index: 3;
      }
      
      div.facebook-signin-button {
        position: absolute;
        right: 20px;
        top: 15px;
        z-index: 3;
      }
      
      .inputs {
        overflow: hidden;
      }
      
      .bottom_links a{
        margin:3px 0;
      }
      h2,a,.inputs{
        z-index:2;
        position:relative;
      }
      h2{
        margin-bottom:5px;
        border:none;
        z-index:3;
      }
      a{
        z-index:3;
        text-align:center;
        color:#fff;
      }
      form#new_user,
      form#edit_user{
        margin-bottom:0;
        .background{
          display:none;
          position:absolute;
          background:url("sign_in_form.png") no-repeat;
          width:268px;
          height:194px;
          top:-35px;
          left:-20px;
          z-index:1;
        }
        .control-group{
          margin:0;
        }
        
        div.terms_of_service {
          overflow:hidden;
        }
        
        #user_terms_of_service, #user_remember_me {
          float: left;
          margin-right: 5px;
        }
        label[for=user_terms_of_service]
        {
          color: #fff;
        }
        
        label[for=user_remember_me]
        {
          color: #fff;
        }
        input[type="text"],input[type~="text"],input[type="password"],input[type~="password"],
        input[type="email"],input[type~="email"] {
          padding:2px 4px;
          border-radius:0;
          border-color:#38404b;
          width:230px;
        }
        input[type="submit"]{
          background-color:transparent !important;
          padding:0;
          border:none;
          outline:none;
          box-shadow:none;
          position:absolute;
          bottom:-66px;
          display:block;
          background:url("sign_up_button.png") no-repeat;
          width:119px;
          height:66px;
          left:50%;
          margin-left:-59px;
        }
      }
    }
  }
}
