.event_item_container
  .event_item_photos-medium
    .carousel.carousel-medium
      %ul
        <% model.eventPhotos.each(function(event_photo) { %>
        <% console.log(event_photo); %>
        %li
          %img{src: "<%= event_photo.get('image').medium.url %>".html_safe}
        <% }); %>
    %a.prev.prev-medium{:href => "#"}
      %span ‹
    %a.next.next-medium{:href => "#"}
      %span ›
  .navigation-medium
    .carousel.carousel-navigation
      %ul
        <% model.eventPhotos.each(function(event_photo) { %>
        <% console.log(event_photo); %>
        %li
          %img{src: "<%= event_photo.get('image').thumb.url %>".html_safe}
        <% }); %>
  %h4 <%= model.get('string_1') %>
  %span.date <%= model.get('date_1') %>
  text  text  text  text  text
  
%h3 Timeline events
