%div{:style => "overflow:hidden"}  
  .strikes-wrapper_
    .strikes_
  %i{class: 'icon-favorite add-to-favorites_'}

.left
  %img{src: '<%= avatar.image.search_thumb.url %>'}
  %h3 <%= short_name %>
  %p Age: <%= age %>
  %p <%= in_or_around %>
  = link_to 'View My Full Profile', '#', class: 'btn'
.right
  %ul.pillars.pillars_

