%div{:style => "overflow:hidden"}
  .strikes-wrapper_
    .strikes_
  %i{class: 'icon-favorite add-to-favorites_', data: { :'profile-id' => '<%= id %>'.html_safe }}

.left

  %img{src: '<%= avatar.image.search_thumb.url %>'}
  %h3 <%= short_name %>
  %p Age: <%= age %>
  %p <%= in_or_around %>
  = link_to '<%= profileLinkText %>'.html_safe, '<%= profileUrl %>'.html_safe, class: 'btn show-profile'

.right
  %ul.pillars.pillars_
