%h2 Choose your pillars

%p This is what this site is all about, so choose carefully. Choose the four items below that best describe the things that you like to do. These are the things you do regulary, look forward to doing with your friends and the things you'd expect to do when you are connecting with someone interesting. They are the pillars of you.

= form_tag :select_pillars, :id => 'select_pillars_form' do
  #lightboxFormContainer
    %h3 Pillars
    %ul.pillar-categories_

      .clearfix