.pillar-image
  .category-image
    <% if(photos.length>0){%>
    .carousel{id: "pillar_carousel_<%= id %>"}
      .carousel-inner
        <% _.each(photos, function(photo){ %>
        .item
          %img{src: "<%= photo.image.pillar.url %>"}
        <% }); %>
    <% }else{ %>
    %img{src: "<%= image.pillar.url %>"}
    <% } %>
    .categoryDesc
      %h3 <%= name %>

  .pillar-content
  //.pillar-browse-all Browse all entries and photos
