.pillar-image
  .category-image
    %img{src: "<%= image_url %>"}
    .categoryDesc
      %h3 <%= pillar_category.name %>    
  
  .pillar-content
  .pillar-browse-all Browse all entries and photos
  	
